.profile-dropdown-btn {
    height: 42px;
    width: 42px;
    border-radius: 50%;
    background: var(--main-bg);
    color: var(--secondary-color);
    font-size: 18px;
    &:hover {
        color: var(--secondary-color-hover);
    }
}

.theme-switcher-btn {
    .bi {
        transition: .5s;
        color: var(--switcher);
    }
}